/* =====================================
   ABOUT
===================================== */

.about-section {
  max-width: 1280px;
  margin: auto;
  padding: 0px 24px;
}

/* =====================================
   HEADER
===================================== */

.about-header {
  text-align: center;
  margin-bottom: 90px;
}

.about-title {
  font-size: 64px;
  font-weight: 700;

  color: #374232;

  margin-bottom: 26px;
}

.about-description {
  max-width: 760px;

  margin: auto;

  color: #666;

  line-height: 1.9;
}

/* =====================================
   CONTENT
===================================== */

.about-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  align-items: center;

  margin-bottom: 100px;
}

.about-side {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.about-item {
  display: flex;
  align-items: center;
  gap: 22px;
}

.about-icon {
  width: 70px;
  height: 70px;

  border-radius: 999px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 28px;
}

.about-icon.green {
  background: #5f874f;
  color: white;
}

.about-icon.light {
  background: #e6f0dd;
}

.about-number {
  color: #5f874f;

  font-size: 28px;
  font-weight: 700;

  margin-bottom: 8px;
}

.about-text {
  color: #777;
}

/* =====================================
   CENTER LOGO
===================================== */

.about-center {
  display: flex;
  justify-content: center;
}

.about-logo-circle {
  width: 320px;
  height: 320px;

  border-radius: 999px;

  border: 2px solid #222;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.about-logo {
  width: 80%;
  height: 80%;

  object-fit: contain;
}

/* =====================================
   GALLERY
===================================== */

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 24px;
}

.gallery-image {
  width: 100%;
  height: 340px;

  object-fit: cover;

  border-radius: 22px;
}