@import "tailwindcss";

/* Admin */
@import './layout/admin-layout.css';
@import './views/admin/admin-dashboard.css';
@import './views/admin/admin-products.css';
@import './views/admin/admin-orders.css';

/* User */
@import './views/auth/user-profile.css';

/* Auth */
@import './views/auth/login.css';
@import './views/auth/register.css';

/* Home */
@import './components/product-list.css';
@import './views/ai/ai-chat.css';
@import './views/about/about-stats.css';
@import './views/home/hero.css';

/* Product */
@import './views/product/products.css';
@import './components/product-card.css';

/* Section/component */
@import './layout/navbar.css';
@import './components/loading.css';
@import './components/confirm-modal.css';
@import './components/toast.css';
@import './layout/footer.css';

/* History */
@import './views/history/history-view.css';

/* Cart */
@import './views/product/cart.css';

/* Ai */
@import './layout/ai-layout.css';

/* about */
@import './views/about/about-view.css';


body {
  margin: 0;
  padding: 0;
  background: #f5f5f2;
  font-family: Arial, Helvetica, sans-serif;
}