@import "tailwindcss";

/* Admin */


/* User */


/* Auth */
@import './views/auth/login.css';
@import './views/auth/register.css';

/* Home */
@import './components/product-list.css';
@import './views/ai/ai-chat.css';
@import './views/about/about.css';
@import './views/home/hero.css';

/* Product */
@import './views/product/products.css';
@import './components/product-card.css';

/* Section/component */
@import './layout/navbar.css';
@import './components/loading.css';
@import './components/confirm-modal.css';
@import './components/toast.css';
@import './layout/footer.css';

/* History */


/* Cart */
@import './views/product/cart.css';

/* Ai */

/* about */
@import './views/about/about-view.css';


body {
  margin: 0;
  padding: 0;
  background: #f5f5f2;
  font-family: Arial, Helvetica, sans-serif;
}