@import "tailwindcss";

@import './sections/hero.css';
@import './sections/features.css';
@import './sections/products.css';
@import './components/product-card.css';
@import './components/navbar.css';
@import './sections/login.css';
@import './sections/register.css';
@import './sections/ai-chat.css';
@import './sections/about.css';
@import './components/toast.css';
@import './sections/about-view.css';
@import './components/product-list.css';
body {
  margin: 0;
  padding: 0;
  background: #f5f5f2;
  font-family: Arial, Helvetica, sans-serif;
}